
body > header h2 {
	display: inline-block;
}

body > header span, strong {
	color: #448042;
}

p, li {
	text-align: justify;
}

section {
	padding:5% 10%;
	padding-top: 10vh;
	min-height: 90vh;
	position: relative;
	font-size: 1em;
}

section h2 {
	display: block;
}

section[id="title"] {
	position: relative; margin: 0; padding: 10% 0; min-height: 90vh;
}

section[id="title"] div {
	margin-right: 20%; margin-left: 20%;
}

section[id="title"] h1 {
	padding: 0; padding-top: 30vh; padding-bottom: 10%;
	font-family: "RemingtonNoiseless"; text-align: center; font-size: 1.7em;
}

section[id="title"] h1 strong{
	font-size: 2em;
}

section[id="title"] p {
	margin-top:3rem;
	text-align: center; font-size: 0.9rem;
}

section[id="problems"] {
	color: white;
	background: center bottom no-repeat url(../images/6element/problems.jpg); background-size: cover;
}

section[id="problems"] > * {
	font-size: 1.4em;
}

section[id="problems"] li {
	margin:2rem 0;
}

section[id="strategy"] strong{
	font-weight: bold;
}

section[id="partners"] > * {
	font-size: 1em;
}

section[id="partners"] {
	text-align: center;
}

section[id="partners"] img {
	width: 40%;
}

section[id="partners"] ul {
	margin:0;
}
section[id="partners"] ul li {
	width: 6rem;
	display: inline-block;
}
section[id="partners"] iframe {
	margin-top: 3rem; height: 13rem; width: 100%;
}

section[id="step1"] {
	color: white;
	text-shadow: 0 0 10px yellow;
	background: center bottom no-repeat url(../images/6element/odroid.jpg); background-size: cover;
}

section[id="step1"] a {
	text-decoration: none;
	color: white;
}

section[id="step1"] strong {
	color: white; font-size: 1.2em;
}

section[id="step1"] p:last-child {
	position: absolute; bottom: 0; padding: 10% 10% 10% 0;
}	


@media only screen and (min-width: 1200px) {
	
	body > header h2 {
		width: auto; left: 8rem;
		font-size: 1.8em;
	}

	section {
		font-size: 1.5em;
	}

	section[id="title"] h1 {
		padding-top: 10vh; padding-bottom: 2vh;
		font-size: 2.5em;
	}

	section[id="title"] p{
		margin-top: 1rem;
		font-size: .8em;
	}

	section[id="problems"]{
		padding-top: 12vh;
		font-size: 1.4em;
	}

	section[id="strategy"]{
		/*font-size: 1.5em;*/
	}

	section[id="strategy"] h2{
		margin-top: 2em;
	}

	section[id="strategy"] p{
		margin: 3rem 0;
	}

}
