/*Page About*/

.page#about{
	-webkit-align-items: center;
	-webkit-justify-content: center;
	align-items: center;
	justify-content: center;

	/*font-size: 1.3rem;*/
	font-weight: lighter;
	color: black;
	text-shadow: 0 0 10px white;
	text-align: center;

	background-image: url("../images/crowd.jpg");
	position: relative;
}

.why{
	width: 100%;
	font-size: 1.5em;
	margin-top: 100px;
}

#about strong{
	color: white;
	text-shadow: 0 0 10px #005BAE;
}

#about .highlight{
	font-weight: 300;
	font-size: 2.3rem;
	
	color: black;

	width: 100%;
	padding: 40px;
	text-shadow: 0 0 10px white;
	background-color: rgba(77, 77, 77, 0.5);
}

#about .highlight strong{
	color: white;
	text-shadow: 0 0 10px #005BAE;
}

.photo-credits{
	margin: 2px;
	color: rgba(255,255,255,0.6);
	font-size: 0.5em;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-shadow: 0 0 5px black;
}