/*SplashScreen*/

#splashScreen{
	position: fixed;
	height: 100vh;
	width: 100vw;
	opacity: 1;
	background-color: white;
	z-index: 2;
	transition: opacity 2s;
}

#bandeau{
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#bandeau div, #bandeau img{
	display: inline-block;
	width: 33%;
	height: 100%;
	font-size: 0.75em;
	text-align: justify;
	vertical-align: top;
}

#bandeau span{
	font-weight: bold;
}

div#we_are{
	display: block;
	width: auto;
	font-size: 6em;
	font-weight: lighter;
	text-align: right;
}

div#enter{
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 1em;
	font-weight: lighter;

	border: 2px solid #005BAE;
	padding: 5px;
	cursor: pointer;
}

#enter:hover{
	color: #005BAE;
}

#bandeau img{
	padding: 3em 5em 0 5em;
}

div#wiki-credits{
	font-size: 0.7em;
	width: 100%;
	text-align: right;
}
