/*
// 1. boîte

// 2. bordures

// 3. arrière-plan

// 4. texte

// 5. transformations

// 6. transitions

// 7. le reste
*/
@font-face {
  font-family: 'RemingtonNoiseless';
  src: url('../fonts/Remington-Noiseless-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Remington-Noiseless-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Remington-Noiseless-webfont.woff2') format('woff2'),
       url('../fonts/Remington-Noiseless-webfont.woff') format('woff'),
       url('../fonts/Remington-Noiseless-webfont.ttf')  format('truetype'),
       url('../fonts/Remington-Noiseless-webfont.svg#svgFontName') format('svg');
}


body {
	font-family: 'Raleway';
}

main {
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

main.hidden {
	opacity: 0;
}

body > header {
	position: fixed; top: 0; width: 100vw; z-index: 2;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,1);
	background-color: white;
}

body > header span {
	color: #005BAE;
}

body > header div{
	display: -webkit-flex; -webkit-flex-direction: column; -webkit-justify-content: center;
	display: flex; flex-direction: column; justify-content:center; position: absolute; top: 0; bottom:0; left: 0; margin: 0; margin-left: .6rem;
}

body > header h1{
	margin: 0;
	font-family: 'RemingtonNoiseless', 'Raleway'; font-size: 2em; line-height: .8em;
}

body > header em{
	display: block;
	font-size: 0.6em; font-style: normal;
	font-weight: lighter; text-align: center;
}

body > header img {
	position: fixed; top: 1vh; bottom: 2vh; right: .6rem; height: 6vh;
	color: black; font-size: 2rem;
	cursor: pointer;
	transition: transform .5s ease-in-out;
}
	

body > header img:hover{
	-webkit-tranform: rotate(360deg);
	transform: rotate(360deg);
}

body > header img.active {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.column{
	display: -webkit-flex; -webkit-flex-direction: column; -webkit-justify-content: center;
	display: flex; flex-direction: column; justify-content: center; position: relative;
}


.row{
	display: -webkit-flex; -webkit-flex-direction: row; -webkit-justify-content: space-around;
	display: flex; flex-direction: row; justify-content: space-around; margin: 0;
}

nav {
	width: 100%; margin: 0 auto;
} 

nav ul {
	justify-content: center; margin: 0 1rem;
}

nav li {
	display: inline-block; padding: .7rem .5rem; width: auto;
	font-size: .8rem;
	cursor: pointer;
}

nav li:hover a {
	color: #005BAE;;
}

nav a {
	color: black; text-decoration: none;
}

img.super{
	position: absolute; top:-.5em; right: 0; width: 3em;
}


h2 {
	font-size: 1rem;
}

h4{
	margin: .8rem 0;
	font-size: 0.8rem; font-weight: bold;
}

ul {
	margin: 0; padding: 0;
	list-style: none;
}

a {
	color: #005BAE; text-decoration: none;
	cursor: pointer;
}

.tab.active{
	box-shadow: 0px 10px 50px 0px #005BAE; border-radius: 0 0 10px 10px;
}

.tab:first-child{
	box-shadow: none;
	background-color: white;
	color: black;
}

section  {
	position: relative; height: 100vh; margin: 0 1rem;
	overflow: hidden;
}

.wide-screen {
	visibility: hidden;
}

input{
	position: absolute; top: 0; left: 0;
	opacity: 0;
}

#home-button a:hover {
	color: black;
}

section[id='colony'].over {
	z-index: 0;
}

/* HOME */

section[id='home'] {
	position: relative; height: 80vh;
}

section[id='home'] img {
	display: block; width: 30vh; margin: 0 auto; padding-top: 25vh;
}

section[id='home'] p {
	text-align: center; margin: .5rem 0; position: absolute; left: 0; right: 0; bottom: 0;
	font-size: .8rem;
}

/* PROJECTS */

/*main {
	margin-top: -80vh;
}*/

section[id='projects']{
	padding-top: 23vh; height: 77vh;
	font-size: .7rem;
}

section[id='projects'] ul {
	padding: 0 1rem;
	list-style: disc; 
}

section[id='projects'] div[id='switch'] {
	display: -webkit-flex; -webkit-flex-direction: row; -webkit-justify-content: space-around;
	display: flex; flex-direction: row; justify-content: space-around; height: 10vh; position: absolute; top: 10.5vh; margin: 0 auto;
	text-align: center;
}

section[id='projects'] div[id='switch'] p:hover {
	background-color: white;
	cursor: pointer
}

section[id='projects'] div[id='switch'] p:hover a {
	color: #005BAE;
}

section[id='projects'] div[id='switch'] p {
	display: -webkit-flex; -webkit-flex-direction: column; -webkit-justify-content: center;
	display: flex; flex-direction: column; justify-content: center; width: 45%; margin: 0;
	font-size: .9rem;
	border-radius: 10px; border: 1px solid black;
}

section[id='projects'] div[id='switch'] p.active {
	border: 2px solid #005BAE;
}

section[id='projects'] > div {
	width: 90vw; position: absolute; z-index: 1;
	transition: transform .5s ease-in-out;
}

section[id='projects'] > div div {
	position: relative;
}

section[id='projects'] h2, section[id='projects'] h3{
	margin: 0;
	text-align: center;
}

div[id='companies'] {
	left: 100vw; height: 77vh;
}

div[id='companies'] ul {
	display: -webkit-flex; -webkit-flex-direction: row; -webkit-justify-content: center;
	display: flex; flex-direction: row; justify-content: center; align-items: flex-start;
	list-style: none;
}

div[id='companies'] li {
	margin: 0; position: relative;
}

div[id='companies'] img {
	width: 4rem; display: block; margin: auto;
}

div[id='companies'] img:first-child {
	width: 20vw;
}

div[id='companies'] img:last-child {
	position: absolute; top: 0;
}

div[id='publicInfra'] {
	right: 0; height: 77vh;
}

div[id='publicInfra'] > div p {
	width: auto;
}

div[id='publicInfra'] img {
	position: absolute; top: 0; right: 0; width: 20vw;
}

div[id='inform'] img {
	top: auto; bottom: 0;
}



/* OPEN */

/*main {
	margin-top: -180vh;
}*/

section[id='culture'] ul {
	height: 100vh; align-items: middle;
}

section[id='culture'] li {
	width: 50%; margin: 0 auto; position: relative;
	text-align: center;
}

section[id='culture'] div {
	display: inline-block;
}

section[id='culture'] p {
	margin: 1.2rem auto;
	font-size: .7rem;
}

section[id='culture'] p::before {
    position: absolute; width: 3rem; height: 3rem; /*left: -4rem; top: -.5rem; margin: .3rem;*/
	border-radius: 20%;
	content: '';
	background-size: cover;
}

section[id='culture'] img {
	position: absolute; width: 4rem;
}

section[id='culture'] a {
	position: absolute;
}

section[id='culture'] [id='github']{
	left: -3rem; top: 2rem;
}

section[id='culture'] [id='etalab']{
	right: 0; top: 3.5rem;
}

section[id='culture'] [id='ODI']{
	right: .5rem; top: 5.5rem;
}

section[id='culture'] [id='raspberry']{
	left: -3rem; bottom: 3rem;
}

/* TEAM */

/*main {
	margin-top: -280vh;
}*/

section[id="team"] ul {
	margin: 0 auto;
}

section[id="team"] > ul:first-child {
	height: 90vh;
}

section[id="team"] i {
	margin: 0 .3rem;
}

section[id="team"] li {
	position: relative; padding: .5em 0;
}

section[id="team"] ul header {
	display: inline-block; position: relative; margin-left: 4em;
}

section[id="team"] aside {
	display: -webkit-flex; -webkit-flex-direction: column; -webkit-justify-content: center; position: absolute;
	display: flex; flex-direction: column; justify-content: center; position: absolute; right: 0; top: 0; margin: 1em 0;
}

section[id="team"] aside a {
	color: black;
}

section[id="team"] aside a:hover{
	color: #005BAE;
}

section[id="team"] p {
	display: block; position: absolute; height: 0rem; margin-top: .2rem; z-index: 1; padding: 0 .5rem;
	font-size: .7rem; color: #DDD; text-align: justify;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden; text-overflow: ellipsis;
	transition: height .5s ease-in-out;
}

section[id='team'] h2 {
	cursor: pointer; font-weight: normal;
}

section[id="team"] h3 {
	margin: 1rem 0;
}

section[id="team"] a {
	cursor: pointer;
}

section[id="team"] i[class^='icon'] {
	margin: 0em;
	font-size: 1rem;
}

[id|="display"]:checked ~ p { /* Check my handsome teacher there -> http://twikito.com/ */
	height: 7rem;
}

section[id="team"] li header::before{
	position: absolute; width: 3rem; height: 3rem; left: -4rem; top: -.5rem; margin: .3rem;
	border-radius: 20%;
	content: '';
	background-size: cover;
}

section[id='team'] > div:last-child {
	position: absolute; bottom: 0; width: 100%;
}

section[id='team'] > div:last-child h2 {
	font-size: .7rem; text-align: center;
}

ul[id="alumni"]{
	display: -webkit-flex; -webkit-flex-direction: row; -webkit-justify-content: space-around;
	display: flex; flex-direction: row; justify-content: space-around;
}

ul[id="alumni"] li {
	width: auto;
}

ul[id="alumni"] a {
	display: block;
}

ul[id="alumni"] img {
	width: 2.5rem;
	border-radius: 20%;
} 

ul[id="alumni"] header, ul[id="alumni"] h3 {
	width: 100%; margin: 0;
	text-align: center; font-weight: normal; color: black;
}

ul[id='alumni'] h3 {
	font-size: .7rem;
} 

[id="alex"] header::before {
	background-image: url('https://avatars.githubusercontent.com/u/371303?'); 
}

[id="davidB"] header::before {
	background-image: url('https://avatars.githubusercontent.com/u/165829?'); 
}

[id="romain"] header::before {
	background-image: url('https://avatars2.githubusercontent.com/u/8417814?'); 
}

[id="serge"] header::before {
	background-image: url('https://avatars3.githubusercontent.com/u/11908390'); 
}

/* CONTACT */

/*main {
	margin-top: -380vh;
}*/

section[id='contact'] {
	height: 100vh;
}

section[id='contact'] a {
	display: block;
}

section[id='contact'] ul {
	height: 100vh;
}

section[id='contact'] li {
	display: block; margin: 1rem auto;
	text-align: center;
}

section[id='contact'] i::before {
	position: relative; left: -1rem; top: .5rem;
	font-size: 2rem; color: black;
}

#medium{ /* couldnt find a way to select it properly, will do for now */
	position: relative; top: .7rem; display: inline-block;
}

section[id='contact'] li:nth-child(2) div p{
	margin: .3rem 0;
}

@media only screen and (min-width: 660px){

	body > header h1{
		font-size: 3em;
	}

	body > header em{
		font-size: .9em;
	}

	body > header h2{
		font-size: 1.5em;
	}

	nav {
		width: 70%; top: -24em;
	}

	nav a {
		font-size: 1.5em;
	}

	h2 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.4rem; margin: 2vh 0;
	}

	/* HOME */

	section[id='home'] {
		font-size: 3.5vh;
	}

	section[id='home'] img {
		width: 25%;
		padding-top: 18vh; margin-bottom: 4rem;
	}

	/* PROJECTS */

	section[id='projects'] div[id='switch'] {
		top: 8.5vh;
	}

	section[id='projects'] div[id='switch'] p {
		font-size: 1.5rem;
	}

	section[id='projects'] > div {
		width: 90vw; padding: 0 5vw;
		font-size: 2.5vh;
	}

	div[id='publicInfra'] > div p {
		width: 60vw;
	}

	div[id='companies'] li {
		margin: 0 1rem;
	}

	div[id='companies'] img {
		width: 5rem;
	}

	div[id='companies'] img:last-child {
		border: 1px solid black;
	}

	/* OPEN */

	section[id='culture'] p {
		font-size: 2.5vh;
	}

	section[id='culture'] img {
		position: absolute; width: 5rem;
	}

	section[id='culture'] [id='github']{
		left: 4rem; top: 5rem;
	}

	section[id='culture'] [id='etalab']{
		right: 9rem; top: 7.5rem;
	}

	section[id='culture'] [id='ODI']{
		right: 4rem; top: 8rem;
	}

	section[id='culture'] [id='raspberry']{
		left: 4rem; bottom: 4rem;
	}

	/* TEAM */

	section[id='team'] ul:first-child{
		width: 70vw;
	}

	section[id="team"] > ul:first-child {
		height: 90vh;
	}

	section[id="team"] li header::before{
		width: 6rem; height: 6rem; left: -8rem;
	}

	section[id="team"] h2 {
		font-size: 4.5vh;
	}

	section[id='team'] li p {
		font-size: 2.5vh;
	}
	
	[id|="display"]:checked ~ p { /* Check my handsome teacher there -> http://twikito.com/ */
		height: 6em;
	}

	section[id="team"] aside {
		top: 1rem;
	}

	section[id="team"] i[class^='icon'] {
		font-size: 2rem;
	}

	section[id="team"] a {
		margin: 1rem;
	}

	section[id='team'] > div:last-child h2 {
		margin: .2rem;
		font-size: 1rem;
	}

	ul[id="alumni"]{
		justify-content: center;
	}

	ul[id='alumni'] h3 {
		font-size: 2vh;
	}
	
	ul[id="alumni"] img {
		width: 3.5rem;
	}

	section[id='contact'] ul{
		font-size: 1.8rem;
	}

	section[id='contact'] li {
		margin: 1.5rem auto; 
	}

	section[id='contact'] i::before {
		font-size: 3rem;
	}

}

@media only screen and (min-width: 660px) and (min-height: 700px) {

	section[id='culture'] [id='github']{
		left: 0; top: 5rem;
	}

	section[id='culture'] [id='etalab']{
		right: 5rem; top: 7.5rem;
	}

	section[id='culture'] [id='ODI']{
		right: -1rem; top: 8rem;
	}

	section[id='culture'] [id='raspberry']{
		left: 0; bottom: 4rem;
	}

}

@media only screen and (min-width: 1200px) {

	main {
		background-color: rgba(255, 255, 255, 0.9);
	}
	
	nav {
		width: 50%;
	}

	a {
		color: black;
	}

	a:hover {
		color: #005BAE;
	}

	.wide-screen {
		visibility: visible;
	}

	/* HOME */

	section[id='home'] img {
		width: 20%; padding-top: 10rem; padding-bottom: 3rem;
	}

	section[id='home'] div {
		bottom: 1.5rem;
	}

	/* PROJECTS */

	/*section[id='projects'] > div p {
		font-size: 1rem;
	}*/

	/* OPEN */

	section[id='culture'] [id='github']{
		left: 10rem; top: 5rem;
	}

	section[id='culture'] [id='etalab']{
		right: 10rem; top: 7.5rem;
	}

	section[id='culture'] [id='ODI']{
		right: 15rem; top: 8rem;
	}

	section[id='culture'] [id='raspberry']{
		left: 10rem; bottom: 4rem;
	}

	/* TEAM */

	section[id="team"] > ul:first-child {
		height: 90vh;
	}

	section[id="team"] ul header {
		display: inline-block; position: relative; margin-left: 6rem;
	}

	section[id="team"] h2 {
		font-size: 4.5vh;
	}

	section[id="team"] li {
		margin: .7rem 0;
	}

	section[id='team'] li p {
		font-size: 1rem;
	}

	section[id='team'] > div:last-child h2 {
		font-size: 1rem;
	}

	ul[id='alumni'] h3 {
		font-size: 1rem;
	}

}
