/*Page What*/

.what{
	/*font-size: 0.8em;*/
	background-color: rgb(0, 0, 0);
	color: white;

	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}

.what h2{
	color: white;
}

.what h3{
	font-weight: lighter;
	color: rgb(160, 160, 160);
	border-bottom: 1px solid white;
	text-align: right;
	position: relative;
}

#dataconnexion{
	display: block;
	position: absolute;
	bottom: 5px;
	height: 30px;
	width: 60px;
}

.what strong{
	color: white;
}

.what ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;	

	width: 90%;
	font-size: 0.8em;

	text-align: center;
	margin: 0 1em;
}
.what ul a{
	/*display: inline-block;*/
	position: relative;
	
	max-width: 25em;
	/*width: 30%;*/
	/*padding: 1em;*/
	margin: 0 2.5em;

	color: rgb(160, 160, 160);
	
	background-color: rgb(0, 0, 0);

	vertical-align: top;
	text-align: justify;
}
.what img{
	display: inline-block;
	
	width: 100%;
}

.what ul a:hover{
	color: white;
}

.what ul a:hover h3{
	color: white;
	border-bottom: 1px solid #005BAE;
}

.what ul a:hover strong{
	color: #005BAE;
}
