/*Page Who*/

.who{
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.who ul.people{
	margin: 0 5em;

	width: 60%;
	padding: 1.5em;
}
.who ul.people li{
	clear:both;
	height: 10em;
}
.who ul.people li{
}
.who ul.people li img{
	max-width: 9em;
	float: left;
	margin-right: 1em;
}

.who ul.people li > *{
	vertical-align: top;
}
.who ul.people li > div{
	padding-left: 1em;
}
.who ul.people li > div .name{
	display: block;
	font-weight: bold;
	/*font-size: 0.9em;*/
	color: black;
	font-family: RemingtonNoiseless;
}
.who ul.people li > div .bio{
	font-size: 0.8em;
}